path.link {
  fill: none;
  stroke: rgb(175,175,175);
  stroke-width: 1px;
}

marker
{
  fill: rgb(175,175,175);
}


path.link.normal
{
  stroke: rgb(90,50,70);
}

circle {
  fill: rgb(180,62,42);
  stroke: rgb(255,235,200);
  stroke-width: 2px;
}

text {
  font: 18px helvetica;
  pointer-events: none;
  stroke:rgb(120,60,90);
}

text.shadow {
  stroke: rgb(255,255,255);
  stroke-width: 5px;
  stroke-opacity: 1;
}